.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  height: 100vh;
  background-color: var(--background-color);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding-inline: 10px;
}
