html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.green-snackbar {
  background-color: green;
  color: white;
}
.red-snackbar {
  background-color: red;
  color: white;
}
